<h4>Create a user</h4>
<%= form_tag(org_settings_create_org_user_url, method: :post) do %>
  <%= label_tag :org_user_email %>
  <%= text_field_tag :email %>
  <%= label_tag :org_user_password %>
  <%= text_field_tag :password %>
  <%= submit_tag :submit %>
<% end %>

<br /> <br />

<h4>Create a new project</h4>
<%= form_tag(org_settings_create_project_url, method: :post) do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= submit_tag :submit %>
<% end %>

<br /> <br />

<h4>Create test category</h4>
<%= form_tag(org_settings_create_test_category_url, method: :post) do %>
  <%= label_tag :project %>
  <%= select('', 'project_id', @projects.map {|project| [project['name'], project['id']]}, {include_blank: :true}) %>
  <%= label_tag :test_category_name %>
  <%= text_field_tag :name %>
  <%= submit_tag :submit %>
<% end %>
