<% if @report %>
  <table class='table-responsive table-bordered'>
    <tr>
      <th>Name</th>
      <th>Errors</th>
      <th>Tests</th>
      <th>Failures</th>
      <th>Time</th>
    </tr>
    <tr>
      <td> <%=@report[:junit_test_suite_group][:name]%> </td>
      <td> <%=@report[:junit_test_suite_group][:_errors]%> </td>
      <td> <%=@report[:junit_test_suite_group][:tests]%> </td>
      <td> <%=@report[:junit_test_suite_group][:failures]%> </td>
      <td> <%=@report[:junit_test_suite_group][:time]%> </td>
    </tr>
  </table>

  <%= @report %>
<% end %>
