<!DOCTYPE html>
<html>
  <head>
    <title>ReportingPortalWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if @user_uid %>
    <%= "Signed in as: #{@user_uid}" %> <br />
    <%= link_to "Sign Out", user_sign_out_path %>
  <% elsif @org_user_uid%>
    <%= "Signed in as: #{@org_user_uid}" %> <br />
    <%= link_to "Sign Out", org_user_sign_out_path %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
